@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {  
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /* Limitar tamanho de todas as caixas contando padding e margin */
}

:root {
    --amarelo: #F2B62C;
    --laranja: #F86D31;
    --verde: #159871;
    --azul: #084CAD;
    --roxo: #D297C4;
    --cinza-medio: #E2E2E2;
    --cinza-escuro: #16162A;
    --cinza-claro: #FCFCFC;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 3.5em;
}

/* unvisited link */
a:link {
    color: var(--cinza-escuro);
}
  
  /* visited link */
a:visited {
    color: rgba(57, 57, 57, 0.4);
}

a {
    transition: all 0.3s;
}

a > h3 {
    color: black;
}

/* mouse over link */
a:hover {
    color: rgba(43, 43, 43, 0.559);
}

/* selected link */
a:active {
    color: rgba(57, 57, 57, 0.4);
}

body {
    background-color: var(--cinza-claro);

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 135%;
}

header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
    background-color: var(--cinza-claro);
    z-index: 100;
}

nav.menu-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 900px;

    font-weight: 600;
    font-size: 1.3em;  
    
}

div.linha-menu-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* LINHA COLORIDA DO MENU NO TOPO */
div.linha-menu-topo > div {
    height: 3px;
    width: 100%;    
}

div.linha-menu-topo > div.amarelo {
    background-color: var(--amarelo);
}

div.linha-menu-topo > div.azul {
    background-color: var(--azul);
}

div.linha-menu-topo > div.verde {
    background-color: var(--verde);
}

div.linha-menu-topo > div.laranja {
    background-color: var(--laranja);
}

div.traducao {
    display: flex;
    flex-direction: row;
    color: #bbbbbb;
    gap: 5px;
    font-weight: 400;
}

div.traducao .barra {
    font-weight: 300;
}

div.traducao .versao-portugues {
    color: #000000;
}

div.traducao .versao-ingles,
div.traducao .versao-portugues {
    cursor: pointer;
}

/* SEÇÃO DE APRESENTAÇÃO */

section.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 230px auto 200px auto;
    gap: 40px;
}

section.apresentacao .nome > p {
    font-size: 6rem;
    font-weight: 600;    
}

div.nome {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;
}

section.apresentacao .blocos > p {
    margin: 10px 0;
}

.infos-projeto div.blocos {
    display: flex;
    flex-direction: column;
    gap: 10px;       
    
}

div.blocos > p {
    padding: 10px 20px;
    font-size: 1.6rem;
    color: var(--cinza-claro);
    font-weight: 300;
}

div.blocos .bloco-jd {
    background-color: var(--amarelo);
    width: 84%;
}

div.blocos .bloco-py {
    background-color: var(--azul);
}

div.blocos .bloco-ui {
    background-color: var(--verde);
    width: 45%; 
    
}

div.blocos .bloco-wb {
    background-color: var(--laranja);
    width: 77%;
}


/* LINHA COLORIDA SOBRE */

div.linha-sobre {
    display: flex;
    flex-direction: row;
    width: 350px;
    
}

div.linha-sobre > div {
    height: 8px;
    width: 100%;   
}

div.linha-sobre > div.amarelo {
    background-color: var(--amarelo);
}

div.linha-sobre > div.azul {
    background-color: var(--azul);
}

div.linha-sobre > div.verde {
    background-color: var(--verde);
}

div.linha-sobre > div.laranja {
    background-color: var(--laranja);
}

section.sobre {
    display: flex;
    flex-direction: column;    
    align-items: center;
    
    gap: 20px;
}


section.sobre img {    
   max-width: 250px;
   border-radius: 999px;
   margin-top: 60px;
   margin-bottom: 30px;
}
section.contato > p,
section.sobre .texto > p,
section.habilidades > p {    
    max-width: 750px;
    margin-bottom: 30px;    
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 130%;
    /* text-align: center; */
}



/* section.sobre span.jd {
    text-decoration: underline var(--amarelo);
    text-decoration-thickness: 3px;
}

section.sobre span.ui {
    text-decoration: underline var(--verde);
    text-decoration-thickness: 3px;
}

section.sobre span.py {
    text-decoration: underline var(--azul);
    text-decoration-thickness: 3px;
}

section.sobre span.wb {
    text-decoration: underline var(--laranja);
    text-decoration-thickness: 3px;
} */





h2 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 135%;
    text-align: center;    
}

section.projetos > h2 {
    margin-top: 50px;
}

section.projetos {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 1000px;

    margin: 0 auto;
}

section.projetos .menu-projetos .blocos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 40px;

}

section.projetos .menu-projetos .blocos > p {
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
}

section.projetos .menu-projetos .blocos .bloco-jd {
    width: 27%;
}

section.projetos .menu-projetos .blocos .bloco-py {
    width: 33%;
}

section.projetos .menu-projetos .blocos .bloco-ui {
    width: 15%;
}

section.projetos .menu-projetos .blocos .bloco-wb {
    width: 25%;
}

section.projetos div.lista-projetos .projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 10px;
    transition: 0.3s;
}

section.projetos div.lista-projetos .projetos > .container {
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;      
     
}

#list-projects .container.desativo {
    display: none;
}

.infos-projeto {
    width: 220px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/* 
section.projetos div.lista-projetos .projetos > .container {
    max-width: 450px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "imagem blocos"
                         "imagem titulo"
                         "imagem titulo"
                         "imagem descricao"
                         "imagem descricao"
                         "imagem descricao"
                         "imagem descricao";
    column-gap: 20px;
    row-gap: 0px;
     
} */

section.projetos div.lista-projetos .projetos .container > .imagem {
    max-width: 250px;
    height: 270px;
    overflow: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.imagem a > img {
    width: auto;
    height: 290px;

    transition: transform 0.45s;
}


.imagem a:hover > img {
    transform: scale(1.1);
}




section.projetos div.lista-projetos .projetos .container .blocos {
    display: flex;
    flex-direction: row;
    margin-right: 55px;
}

section.projetos div.lista-projetos .projetos .container h3 {
    font-size: 1.6rem;
    line-height: 1.7rem;
}

section.projetos div.lista-projetos .projetos .container p {
    font-size: 1rem;
    line-height: 1.1rem;
}

section.projetos div.lista-projetos .projetos .container .infos-projeto .blocos .icone {
    height: 20px;
    width: 40px;
    font-size: 0.9rem;
    padding: 1px 1px;
    text-align: center;   

}

div.ver-mais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 40px 0px 40px;
}

div.ver-mais > img {
    width: 15px;
}

div.ver-mais > p {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    margin-left: 15px;
}



/* HABILIDADES */

section.habilidades {
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding-top: 70px;
    gap: 20px;
}


div.lista-ferramentas {
    height: 345px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 960px;
    column-gap: 100px;
    align-content: space-between;

}

div.ferramenta {
    width: 250px;
    margin: 12px auto;
}

div.ferramenta > p {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
}


div.container-indice {
    width: 960px;
    background-color: #F2F2F2;
    padding: 30px 100px 30px 100px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.explicacao-indice {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pouco-confortavel,
.muito-confortavel {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 0.8rem;
    text-align: right;
    gap: 10px;
}

.pouco-confortavel > .container-circulos,
.muito-confortavel > .container-circulos {
    gap: 6px;
}

.pouco-confortavel .container-circulos > .circulo,
.muito-confortavel .container-circulos .circulo{
    width: 25px;
    height: 25px;
}




div.container-circulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.container-circulos .circulo {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: #E2E2E2;
}

div.container-circulos .circulo.verde {
    background-color: var(--verde);
}

div.container-circulos .circulo.azul {
    background-color: var(--azul);
}

div.container-circulos .circulo.amarelo {
    background-color: var(--amarelo);
}

div.container-circulos .circulo.laranja {
    background-color: var(--laranja);
}

div.container-circulos .circulo.cinza {
    background-color: var(--cinza-escuro);
}


.barra-preenchida {
    height: 13px;
    background-color: blue;
} 


div.barra-progresso {
    background-color: #E2E2E2;
}

.barra-preenchida.verde {
    background-color: var(--verde);
}

.barra-preenchida.azul {
    background-color: var(--azul);
}

.barra-preenchida.amarelo {
    background-color: var(--amarelo);
}

.barra-preenchida.laranja {
    background-color: var(--laranja);
}

/* barra de progresso de cada ferramenta/habilidade */

.illustrator .barra-progresso .barra-preenchida {
    width: 85%;
}

.photoshop .barra-progresso .barra-preenchida {
    width: 70%;
}

.figma .barra-progresso .barra-preenchida {
    width: 80%;
}

.adobe-xd .barra-progresso .barra-preenchida {
    width: 30%;
}


.html .barra-progresso .barra-preenchida {
    width: 75%;
}

.css .barra-progresso .barra-preenchida {
    width: 65%;
}

.javascript .barra-progresso .barra-preenchida {
    width: 45%;
}

.api .barra-progresso .barra-preenchida {
    width: 50%;
}

.python .barra-progresso .barra-preenchida {
    width: 70%;
}

.github .barra-progresso .barra-preenchida {
    width: 55%;
}

.google-sheets .barra-progresso .barra-preenchida {
    width: 80%;
}

.flourish-datawrapper .barra-progresso .barra-preenchida {
    width: 90%;
}


section.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.contato p.texto-contato {
    margin-top: 120px;
    text-align: center;
}

section.contato p.email {
    font-weight: 500;
}

section.contato div.redes {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-bottom: 60px;
}

section.contato div.redes > a {
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
    text-decoration: underline;    
}

section.contato .linha-sobre {
    margin-bottom: 120px;
}

/*  RESPOSIVIDADE */

@media (max-width: 830px) {

    nav.menu-topo {
        margin: 30px 25px;
    }

    section.apresentacao {
        margin: 215px 20px 200px 20px;  
        gap: 20px;      
    }

    section.apresentacao div.nome > p {
        font-size: 4.5rem;
    }

    section.apresentacao div.blocos > p {
        font-size: 1.2rem;
    }

    section.apresentacao div.blocos .bloco-ui {
        width: 50%;
    }

    section.apresentacao div.blocos .bloco-wb {
        width: 80%;
    }




    section.sobre img {
        max-width: 225px;
    }


    section.contato > p, 
    section.sobre .texto > p, 
    section.habilidades > p {
        font-size: 1.2rem;
        margin-left: 40px;
        margin-right: 40px;;
    }


}

@media (max-width: 890px) {

    div.lista-ferramentas {
        flex-wrap: nowrap;
        height: auto;
        width: 80vw;    
    }

    div.container-indice {
        max-width: 835px;
        width: 500px;
        flex-direction: column;
        gap: 28px;
        padding: 30px 20px 20px 30px;
    }
    
}

@media (max-width: 650px) {    
    div.nome {
        align-items: flex-start;
    }    

    section.apresentacao {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    header {
        position: absolute;
    }

    nav.menu-topo {
        display: block;
        width: 50vw;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 1.5rem;
    }

    nav.menu-topo > a, 
    div.traducao,
    div.linha-menu-topo {
        display: none;
    }

    

    div.container-menu-mobile {        
        display: block;
      }

   
}



@media (max-width: 1040px) {

    section.projetos .menu-projetos .blocos {
        gap: 12px;
        margin: auto 15px;
    }

    section.projetos div.menu-projetos div.blocos > p {
        font-size: 1rem;
    }

    section.projetos div.lista-projetos .projetos {
        justify-content: center;

    }

    div.lista-ferramentas {
        column-gap: 30px;
        margin: auto 20px;
        max-width: 835px;
        
    }

    div.container-indice {
        width: 80vw;
        align-items: center;
        margin-right: 40px;
        margin-left: 40px;
    }

    div.barra-progresso {
        width: 100%;
    }

    div.ferramenta {
        max-width: 260px;
    }

    div.ferramenta > p {
        font-size: 1rem;
    }
}

/* MOBILE */

@media (max-width: 480px) {

    div.lista-ferramentas {
        width: 80vw;
    }

    div.container-indice {
        width: 80vw;
    }


    section.apresentacao {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    div.nome {
        align-items: flex-start;
    }

    section.apresentacao div.nome > p {
        font-size: 4rem;
    }


    div.linha-sobre {
        width: 220px;
    }

    section.contato > p, 
    section.sobre .texto > p, 
    section.habilidades > p {
        font-size: 1.1rem;
        line-height: 1.55rem;
    }

    h2 {
        font-size: 2.2rem;
        margin: auto 20px;
    }

    section.projetos {
        max-width: auto;
    }

    section.projetos div.lista-projetos .projetos {
        gap: 47px;
        
    }

    section.projetos div.menu-projetos div.blocos > p {
        padding: 10px 5px;
        font-size: 0.9rem;
    }


    section.projetos .menu-projetos .blocos {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 7px;
    }

    section.projetos .menu-projetos .blocos .bloco-ui {
        width: 80px;
        order: 1;
    }

    section.projetos .menu-projetos .blocos .bloco-py {
        width: 185px;
        order: 2;
    }

    section.projetos .menu-projetos .blocos .bloco-wb {
        width: 135px;
        order: 3;
    }

    section.projetos .menu-projetos .blocos .bloco-jd {
        width: 145px;
        order: 4;
    }

    section.projetos div.lista-projetos .projetos > .container {
        flex-direction: column;
        height: 430px;
    }

    .imagem a > img {
        width: 100%;
        height: auto;
    }

    .infos-projeto {
        margin-left: 0px;
        width: 290px;
    }

    section.projetos div.lista-projetos .projetos .container .blocos {
        margin-top: 15px;
        width: 150px;
    }


    /* div.lista-ferramentas {
        flex-wrap: nowrap;
        height: auto;
    } */

    section.contato div.redes {
        margin: auto 70px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    section.contato .linha-sobre {
        margin-top: 50px;
    }

    section.projetos div.lista-projetos .projetos .container > .imagem {
        max-width: 290px;
    }

    section.contato p.texto-contato {
        margin-top: 100px;
        margin-bottom: 45px;
    }    
    

}

/* MENU HAMBURGUER MOBILE */

.container-menu-mobile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	user-select: none;
    
  }
  
#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 38px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label span{
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 30px;
    background: var(--cinza-escuro);
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 8px;
}

label span:nth-child(3){
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
}

  /* -- FIM MENU HAMBUERGUER -- */